@font-face {
  font-family: 'Akzidenz Grotesk Light';
  font-style: normal;
  font-weight: normal;
  src: local('Akzidenz Grotesk Light'), url('fonts/akzidenz-grotesk-light.woff') format('woff');
}

@font-face {
  font-family: 'Akzidenz Grotesk Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Akzidenz Grotesk Bold'), url('fonts/akzidenz-grotesk-bold.woff') format('woff');
}

body {
  background-color: rgb(186, 38, 13);
  box-sizing: border-box;
  font-family: Akzidenz Grotesk Light, Helvetica, Arial, sans-serif;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

nav a {
  color: white;
  font-size: 1.5rem;
  padding-right: 10px;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

header {
  background-color: rgb(186, 38, 13);
  left: 0;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 1;
}

footer {
  background-color: rgb(186, 38, 13);
  bottom: 0;
  left: 0;
  padding-left: 10px;
  position: fixed;
  right: 0;
  text-align: right;
  z-index: 1;
}

section {
  align-items: center;
  display: block;
  min-height: 100vh;
  padding: 1rem;
  padding-left: calc(10vw + 1rem);
  position: relative;
}

section.left {}

.block {
  display: block;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.project {}

.project-content {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.project-image {
  width: 100%
}

.project-description {
  font-size: 2rem;
  width: 25%
}

.intro {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-left: 10vw;
}

.intro-left {
  float: left;
  font-family: Akzidenz Grotesk Bold, Helvetica, Arial, sans-serif;
  font-size: 12rem;
  text-align: right;
}

.intro-right {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  padding-left: 2rem;
}

.section-1 {
  background-color: rgb(202, 47, 51);
}

.section-2 {
  background-color: rgb(177, 46, 64);
}

@media screen and (max-width:1440px) {
  .intro-left {
    font-size: 8rem;
  }
  .intro-right {
    font-size: 2rem;
  }
}

@media screen and (max-width:920px) {
  .intro {
    flex-direction: column;
  }
  .intro-left {
    text-align: center;
  }
  .intro-right {
    padding-left: 0;
    text-align: center;
  }
}

@media screen and (max-width:600px) {
  .intro-left {
    font-size: 6rem;
  }
  .intro-right {
    font-size: 1.5rem;
  }
  nav a {
    font-size: 1.25rem;
  }
}

@media screen and (max-width:400px) {
  .intro-left {
    font-size: 4rem;
  }
  .intro-right {
    font-size: 1.25rem;
  }
  nav a {
    font-size: 1rem;
  }
}

.white {
  color: white;
  display: inline-block;
  position: relative;
}

.barbell-bar {
  background-color: black;
  bottom: 0;
  display: block;
  margin-left: 5vw;
  position: fixed;
  top: 0;
  width: 5vw;
  z-index: 2;
}

.barbell-end {
  height: 20vw;
  position: absolute;
  width: 20vw;
}

.barbell-collar {
  background-color: black;
  height: 4.5vw;
  margin-left: 3vw;
  margin-top: 2vw;
  position: relative;
  width: 9vw;
  z-index: 3;
}

@keyframes slideDown {
  from {
    transform: translate3d(0, -50vh, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideUp {
  from {
    transform: translate3d(0, 30vh, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideLeft {
  from {
    transform: translate3d(70vw, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideRight {
  from {
    transform: translate3d(-50vw, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.plate-down {
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-name: slideDown;
}

.slide-right {
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-name: slideRight;
}

.slide-left {
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-name: slideLeft;
}

.order1 {
  animation-delay: 0s;
}

.order2 {
  animation-delay: 0.5s;
}

.order3 {
  animation-delay: 1s;
}

.order4 {
  animation-delay: 1.5s;
}

.barbell-plate {
  background-color: white;
  height: 4.5vw;
  margin-top: 2vw;
  position: relative;
  width: 100%;
  z-index: 3;
}

.barbell-plate:last-child {
  margin-bottom: 2vw;
}

.contact {
  display: block;
  padding: 3.6rem;
  position: relative;
  padding-left: calc(10vw + 3.6rem);
  text-align: center;
}