@font-face {
  font-family: 'Akzidenz Grotesk Light';
  font-style: normal;
  font-weight: normal;
  src: local('Akzidenz Grotesk Light'), url('fonts/akzidenz-grotesk-light.woff') format('woff');
}

@font-face {
  font-family: 'Akzidenz Grotesk Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Akzidenz Grotesk Bold'), url('fonts/akzidenz-grotesk-bold.woff') format('woff');
}

body {
  background-color: rgb(186, 38, 13);
  font-family: Akzidenz Grotesk Light, Helvetica, Arial, sans-serif;
  margin: 0;
}

nav a {
  color: white;
  font-size: 1.5rem;
  padding-right: 10px;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

header {
  background-color: rgb(186, 38, 13);
  left: 0;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 1;
}

footer {
  background-color: rgb(186, 38, 13);
  bottom: 0;
  left: 0;
  padding-left: 10px;
  position: fixed;
  right: 0;
  text-align: right;
  z-index: 1;
}

section {
  height: 100vh;
}

.content-wrapper {}

.project {
  margin-left: 10vw;
}

.intro {
  align-items: center;
  display: flex;
  justify-content: center;
}

.intro-left {
  float: left;
  font-family: Akzidenz Grotesk Bold, Helvetica, Arial, sans-serif;
  font-size: 8rem;
  text-align: right;
}

.intro-right {
  display: flex;
  font-size: 2rem;
  padding-left: 10px;
}

.white {
  color: white;
}

.barbell {
  bottom: -200;
  position: absolute;
  top: -200;
  width: 20vw;
}

.barbell-bar {
  background-color: black;
  bottom: 0;
  display: block;
  margin-left: 5vw;
  position: fixed;
  top: 0;
  width: 5vw;
  z-index: 2;
}

.barbell-end {
  height: 20vw;
  position: absolute;
  width: 20vw;
}

.barbell-collar {
  background-color: black;
  height: 4.5vw;
  margin-left: 3vw;
  margin-top: 2vw;
  position: relative;
  width: 9vw;
  z-index: 3;
}

.barbell-plate {
  background-color: white;
  height: 4.5vw;
  margin-top: 2vw;
  position: relative;
  width: 100%;
  z-index: 3;
}

.barbell-plate:last-child {
  margin-bottom: 2vw;
}
